# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=trading
POSTGRES_PUBLISHED_PORT=5433

# Services
MONITOR_PORT=5007
RUN_MODE=daemon
APP_CONFIG_PATH=config/strategy_config.toml
# Example: APP_EXTRA_ARGS=--override-config config/timeframe/custom.toml
APP_EXTRA_ARGS=

# Monitor
MONITOR_USE_POSTGRES=1
